* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

h2 {
  margin-top: 5%;
  text-align: center;
  color: #6FA3D8;
  font-size: 30px;
}

.fonts{
  margin-top: 5%;
  text-align: center;
  color: #6FA3D8;
  font-size: 30px;
}
.register{
  text-align: center;
  color: red;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}
.user-image {
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 100px;
  margin-top: -7em;
}
.user-image-post{
width: 65px;
border-radius: 50%;
float: left;
margin: 1%;
}


h3 {
  text-align: center;
  
}
#alert-txt-email,
#alert-txt-password {
  color: red;
  padding-top: 0%;
}
.forss{
  margin: auto;
  max-width: 500px;
  padding: 10px;
}
#signup-form{
  margin-left: 45%;
  width: 40%;
  box-shadow: 0.13vw 0.25vw 0.25vw rgba(0, 0, 0, 0.25), -1px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 2%;
}

.input {
  display: block;
  padding: 6px;
  width: 100%;
  margin: 8px 0;
  text-align: center;
  border: 0;
  border-radius: 50px;
  background: #f3f3f3;
}

.login-form {
  display: block;
}

.btn-login {
  color: black;
  border: 0;
  cursor: pointer;
  opacity: 0.8;
  display: block;
  padding: 6px;
  width: 100%;
  margin: 12px 0;
  text-align: center;
  border-radius: 50px;
  background: linear-gradient(30deg, #2B7AB4,#448ABF, #3A91AC, #8A3A3A, #8A3A3A);
  font-size: 16px;
}

.btn-google-facebook {
  display: block;
  text-align: center;
  margin: auto;
}

.btn-image {
  border: transparent;
  background: none;
}
p {
  text-align: center;
  padding-top: 2%;
  margin: revert;
}

.btn-register {
  text-decoration: none;
}

/*Register Template*/

.signup-form {
  display: block;
  padding: 10px;
  width: 100%;
  margin: 10px 0 30px 0;
  text-align: center;
  border: 0;
  border-radius: 50px;
  background: #f3f3f3;
  font-size: 16px;
}
.add-inf{
  display: block;
  padding: 5px;
  width: 100%;
  margin: 10px 0 30px 0;
  text-align: center;
  border: 0;
  border-radius: 50px;
  background: #f3f3f3;
}



.submit-form {
  color: black;
  cursor: pointer;
  opacity: 0.8;
  display: block;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  border: 0;
  border-radius: 50px;
  background: linear-gradient(30deg, #E90404,#CE0000, #F16906, #F16906, #EBFF02);
  font-size: 20px;
}
.num-likes{
  float: left;
  position: relative;
  font-size: 100%;
  margin-top: 2%;
  margin-left: 4%;
}
#btn-logout{
  background: linear-gradient(30deg, #E90404,#CE0000, #F16906, #F16906, #EBFF02);
  color: black;
  cursor: pointer;
  opacity: 0.8;
  display: block;
  padding: 10px 0;
  width: 40%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  border: 0;
  border-radius: 50px;
}