@media screen and (max-width: 900px){
    .icon-prin{
        left: calc(68% - 60px);
    }
    .light-bulb-mobile{
        display: block;
    }
    body{
        background: white;
    }
    label #hamburger{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.3);
        opacity: 0.8;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #check-and-uncheck:checked ~ ul{
        left:0;
    }
    #check-and-uncheck:checked ~ label #hamburger{
        display: none;
    }
    #check-and-uncheck:checked ~ label #cross{
        display: block;
    }
    .container-profile{
        display: contents;
    }
    .title{
        position: absolute;
        left: calc(50% - 130px);
    }
    .post{
        margin: auto;
        width: 90%;
        margin-top: 3%;
    }
    .share-post{
    margin: auto;
    margin-top: 10%;
    width: 90%;

    }
    .init {
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0 0;
    }
    

    
}
@media screem and (max-width: 1000px){
    form{
        width: 290px;
    }
    nav ul li a{
        font-size: 17px;
    }

}
@media screen and (max-width: 400px){
    .inputComment{
        width: 55%;
    }
}

@media (max-width: 768px){
    .login-style{
        background: #FFFFFF;
        box-shadow: none;
        margin: 0;
        max-width: none;
        justify-content: space-evenly;
    }
    .light-bulb{
        display: none;
    }
    #signup-form{
        background: #FFFFFF;
        box-shadow: none;
        margin: 0;
        max-width: none;
        justify-content: space-evenly;
        width: 100%;
        padding: 10%;
    }
    .signup-form{
        padding: 8px;
    }
    .registerPhoto{
        background: none;
    }
    .cuyo{
        display: block;
        width: 100px;
        height: 100px;
        margin-left: 35%;
        margin-top: 5%;
    }
    .mirana{
        display: block;
        width: 170px;
        height: 200px;
        margin-top: 5%;
        margin-left: 20%;
    }
    .cuye{
        display: none;
    }
    #login-form{
        margin-left: 8%;
        margin-right: 8%;
    }
    .registerUser{
        font-size: 13px;
        padding-top: 10%;
    }
    .alternative{
        font-size: 13px;

    }
    .submit-form{
        padding: 7px;
    }
    #btn-logout{
        padding: 5px;
    }

}
